/* Fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');



/*Colors*/

/*:root{
    --main_bc_color: #0b1d37;
    --dark_bc_color: #243F4D;
    --main-text :#fcd7b6;
    --green : #a3bbc8;
    --white: #fff;
}*/

:root{
    --main_bc_color: #071121;
    --dark_bc_color: #243F4D;
    --main-text :#8CEFE9;
    --green : #a3bbc8;
    --white: #fff;
}

/* Main body */

*{
    margin: 0;
    padding: 0;
}

body{

    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    height: 100%;
}

li,a{
    text-decoration: none;
    list-style: none;
}

nav{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 8vh;
    background: var(--main_bc_color);
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: background 0.5s ease; 
    z-index: 1000;
}

nav.scrolled {
    background: var(--dark_bc_color);
}


.logo-li{
    margin-top: 20px;
    margin-left: 90px;
}

.logo{
    width: 20%;
    font-family: 'Poppins', sans-serif, Arial;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
}

.items{
    margin-top: 20px;
    display: flex;
    text-decoration: none;
    width: 70%;
    justify-content: flex-end;

}

.item{
    display: flex;
    font-size: 1rem;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif, Arial;
    font-style: normal;
    color: var(--white);

}
.item{
    transition: 0.7s ease;
}

.item:hover{
    color: var(--main-text);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.logo-li-small{
    display: none;
    cursor: pointer;
    }

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-text);
}

/* About section */

.about-block{
    display: flex;
    height: 92vh;
    width: 100%;
    background: var(--main_bc_color);

}

.about-content{
    width: 80%;
    padding: 12% 0 0 140px;
    display: flex;
}

.about-text-block{
    width: 458px;

}

.about-text{

    color: var(--main-text);
    font-family: 'Roboto', sans-serif, Arial;

}


.about-icon{
    height: 100%;
    width: 50%;
    display: flex;
    font-size: 3rem;
    flex-direction: column;
    margin-left: 9%;
    position: relative;
    z-index: 999;


}
#icon{

    fill: var(--main-text);
    filter: drop-shadow(3px 5px 2px rgba(101, 218, 218, 0.4));
}


#icon:hover{

    fill: #fff;
    filter: drop-shadow(3px 5px 2px rgba(101, 218, 218, 0.4));
}

#icon-btn{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;


}



.main-text{
    display: flex;
    align-content: center;
    font-size: 2.5rem;
    font-style: oblique;
    font-weight: 700;

}

.description-text{
    display: flex;
    justify-items: center;
    margin-top: 15px;
    font-weight: 200;
    font-size: 1.5rem;
    color: #5B6778;
}

/* Skills */

.skills-content {
    width: 100%;
    padding: 50px 0;
    background-color: var(--main_bc_color);
}

.skills-box {
    display: flex;
    justify-content: space-around;
    background-color: var(--main_bc_color);
    margin: auto;
    padding: 30px 0;
    width: 80%;
    height: 100%;
    max-width: 1200px;
}

.technical-skills,
.tools {
    width: 45%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(180deg, #29424E 0%, rgba(78, 130, 158, 0.00) 100%);
    overflow: hidden;
    visibility: hidden; /* Initially set visibility to hidden */
}

.technical-skills > ul,
.tools > ul {
    padding: 10px 30px;
    list-style: none;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.technical-skills.active, 
.tools.active {
    animation: slideInFromLeft 1s ease-out;
    visibility: visible; /* Set visibility to visible when the animation is active */
}

.tools.active {
    animation: slideInFromRight 1s ease-out;
}

.label-text {
    display: flex;
    margin: 10px 0;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--main-text);
    padding-bottom: 10px;
}

.skills-text {
    color: var(--white);
    font-size: 1.2rem;
    padding: 10px 0;
}

/* Projects */

.project-content{
    width: 100%;
    height: 100%;
    padding: 50px 0;
    background-color: var( --main_bc_color);
}

.label{
    padding: 30px 0;
    text-align: center;
    color: var(--main-text);
    font-family: 'Poppins', sans-serif, Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 2.813rem;
}

.project-block{
    margin: 40px auto;
    width: 80%;
    height: 300px;
    background: linear-gradient(180deg, #12222A 0%, #1F3B4A 100%);   
    display: flex;
}

.project-img{
    padding: 20px;
    width: 220px;
    height: 220px;


}

.project-description{
    width: 60%;
    height: 230px;
    color: var(--main-text);
    margin-left: 80px;
}

.project-description-text{
    color: var(--white);

}

.project-main-text{
    margin: 40px 0;
    font-family: 'Poppins', sans-serif, Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 1.563rem;
}

.project-icon{
    display: flex;
    width: 100%;
    height: 60px;
}


.project-links{
    display: flex;
}
.link{
    margin-top: 50px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #7E72F3FF;

}

.project-link-text{
    display: flex;
    text-decoration: none;
    padding-top: 18px;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    justify-items: center;
}



.project-technology-block{
    display: flex;
    margin-left: 80px;

}

.project-technology{
    width: 80px;
    height: 30px;
    background-color: var(--green);
    color: #fff;
    margin-top: 65px;
    margin-right: 20px;
}

.project-technology-text{
    padding: 7px 0;
    text-align: center;
}

/*Contact*/

.contact-content{
    padding-top: 20px;
    width: 100%;
    height: 100%;
    background: var( --main_bc_color);
    color: var(--main-text);
}

.contact-block{
    width: 100%;
    height: 100%;
    background: var( --main_bc_color);
    color: var(--main-text);

}

.contact-form{
    margin-left:auto;
    margin-right:auto;
    width: 40%;
    height: 100%;
    padding:30px 45px 30px 0;



}

.form-contact{
    width: 100%;
    left: 45px;
}

.contact-label{
    text-align: center;
    color: var(--main-text);
    font-family: 'Poppins', sans-serif, Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 2.813rem;
}

.contact-input{
    display: block;

}


#contact-info{
    text-align: center;
    font-family: 'Poppins', sans-serif, Arial;
    font-size: 1.25rem;
    color: var(--white);
}

#username{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
    padding-left: 45px;
    color: var(--white);
}

#email{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
    padding-left: 45px;
    color: var(--white);
}

#message{
    margin-top: 20px;
    width: 100%;
    height: 120px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
    padding-left: 45px;
    color: var(--white)f;
}

::-webkit-input-placeholder {
	  color: var(--white);
}

.btn{
    display: flex;
    border: solid 1px var(--main-text);
    color: var(--main-text);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.125rem;
    width: 30%;
    height: 48px;
    background: var(--main_bc_color);
    margin: 25px auto;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.btn:hover {
	color: #FFFFFF;
    outline: none;
	top: 2px;
}


/* Footer */
.footer{
    width: 100%;
    height: 60px;
    background: var( --dark_bc_color);
    top: 2724px;
}
.footer-text{
    padding: 20px 0;
    justify-items: center;
    text-align: center;
    color: var(--white);

}


@media only screen and (max-width: 768px){

*{
    padding: 0;
    margin: 0;
}
.logo-li-small
{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}

    .logo-li{
      display: none;

}

    .hamburger{
        display: block;
        float:left;
        padding-top: 15px;
        padding-left: 65%;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px)  rotate(45deg);
    }
     .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px)  rotate(-45deg);
    }

     .items{
         position: fixed;
         left: -100%;
         top: 70px;
         gap: 0;
         flex-direction: column;
         background-color: var(--dark_bc_color);
         width: 100%;
         text-align: center;
         transition:0.3s;

     }


     .item{
         margin: 16px 0;
     }

     .items.active{
         left: 0;
     }


     /* About */

    .about-content
    {
        width: 100%;
        padding: 70px 10px;
        display: block;
    }

    .about-text-block
    {
        width: 100%;

    }

    .about-text{

        color: var(--main-text);
        font-family: 'Roboto', sans-serif, Arial;
        font-size: 3em;
        margin: 0 auto;
    }


    .about-icon{
        padding-top: 50px;
        height: 100%;
        width: 100%;
        display: flex;
        font-size: 3rem;
        flex-direction: row;
        margin: 0;


    }

    .description-text
    {

        padding-top: 30px;

    }

    /* Project */

    .project-block
    {
        margin: 0 auto;
        width: 90%;
        height: 100%;
        background-color: var( --dark_bc_color);
    }

    .project-img{
        display: none;
    }


    .project-links
    {
        display: flex;
    }

    .link{
        margin-top: 10px;
        margin-right: 10px;

    }

    .project-link-text{
        display: flex;
        text-decoration: none;
        padding-top: 18px;
        color: var(--main-text);
        text-align: center;
        justify-content: center;
        justify-items: center;
    }




    .project-technology{
        margin-top: 10px;
        margin-right: 10px;
        width: auto;

    }

    .project-icon{
        display: block;
        width: 100%;
        height: 60px;
    }


    .project-technology-block
    {
        display: flex;
        margin-left: 0;


    }

    .project-main-text
    {
        margin: 10px 0;

    }
    .project-description{
        width: 100%;
        margin:5px 10px;
    }

    .project-technology-text
    {
        padding: 7px 5px;
        text-align: center;
    }

    .contact-form{

        margin: 10px auto;
        width: 50%;
        height: 100%;
        padding: 0;


    }
    .contact-input{
        padding-right: 45px;

    }

    .contact-block{
       padding: 30px 0;

    }
    .btn {
        width: 80px;
        height: 30px;


    }



}



@media only screen and (max-width: 1200px){

    .project-icon
    {
        display: block;
        width: 100%;
        height: 60px;
    }

    .project-technology-block
    {
        display: flex;
        margin-left: 0;


    }

    .project-main-text
    {
        margin: 10px 0;

    }
    .project-description{
        width: 100%;
        margin:5px 10px;
    }

    .project-technology-text
    {
        padding: 7px 5px;
        text-align: center;
    }


    .project-technology-block
    {
        display: flex;
        margin-left: 0;


    }

    .project-technology{
        margin-top: 10px;
        margin-right: 10px;
        width: auto;

    }

    .link{
        margin-top: 10px;
        margin-right: 10px;

    }


}