/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Define Colors */
:root {
    --primary-color: #00FF94; /* Neon green for accents */
    --secondary-color: #00F0FF; /* Neon blue for secondary elements */
    --highlight-color: #00FFF0; /* Blended neon highlight */
    --text-color: #E0E0E0; /* Light gray for readability on dark backgrounds */
    --muted-text-color: #95A5A6; /* Muted gray for less prominent text */
    --background-color: #0A0F16; /* Dark background for a tech feel */
    --card-background-color: #0D1B26; /* Slightly lighter dark for contrast */
    --border-color: ##15484f; /* Subtle borders */
    --footer-background-color: #0A192F; /* Darker footer background */
    --label-color: #ffffff; /* Neon green for labels and headings */
    --second-background: #1a1e23; /* Subtle secondary dark background */
}    

/* Global Styles */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }


.container {
    max-width: 95%;
}

/* Navbar Styles */
.navbar {
    background: var(--background-color);
    border-bottom: 0.5px solid var(--highlight-color);
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    font-family: "JetBrains Mono", serif;
}

.navbar-brand {
    font-weight: bold;
    color: var(--primary-color) !important;
}

.navbar-nav .nav-link {
    color: var(--label-color) !important;
    transition: color 0.3s;
    font-size: 1.1rem;
    margin-left: 10px;
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color) !important;
}

.about-block{
    color: var(--secondary-color);
}

.navbar-toggler{
    color: #fff;
}

.name-color{
    color: var(--secondary-color);

}
.neon-green{
    color: var(--primary-color);
}

/* About Section */
#about{
    display: block;
    position: relative;
    z-index: 1;

   
}
.about-block {
    width: 100%;
    height: 100vh;
    padding-top: 10%;
    background: var(--background-color);
    font-family: "JetBrains Mono", serif;
    
}

.about-block .label {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
    text-shadow: 0 0 10px var(--primary-color);
    text-align: center;
}

.about-block .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-block .about-text {
    padding: 0;

}
.about-icon {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.about-icon img {
    margin: 0 10px;
    width: 32px;
    height: 32px;
    transition: transform 0.2s;
}

.about-icon img:hover {
    transform: scale(1.2);
}

.about-icon a {
    margin: 0.5rem, 0.5rem;
    font-size: 2.5rem;
    color: var(--primary-color);
    transition: transform 0.3s, color 0.3s;
}

.about-icon a:hover {
    transform: scale(1.1);
    color: var(--highlight-color);
}

.main-text {
    text-align: start;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.3rem;
    color: var(--label-color);
}

.about-block .description-text {
    text-align: start;
    font-size: 1.4rem;
    color: var(--muted-text-color);
    margin: 0;
}

.buttons{
    padding: 20px 0;
    display: flex;
    justify-content: left;

}
.buttons .btn-primary, .btn-secondary{
    width: 25%;
    height: 15%;
    text-decoration: none;
}

.buttons .btn-secondary{
    margin-right: 20px;
    text-decoration: none;
}

/* Skills Section */
#skills {
    display: block;
    padding: 60px 20px;
    color: var(--background-color);
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: 2%;
}

.skills-block {
    padding-top: 2rem;
    display: block;
    width: 100%;
    height: 100%;

}

.skills-block .about-text {
    padding: 2rem;
    background-color: var(--background-color);
    border: 0.1px solid var(--highlight-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.1);
    margin: 0 ;
}

.skills-block .row {
    display: flex;
}

.skills-block .skills-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.skills-block .skills-list li {
    display: inline-block;
    margin: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--second-background);
    color: var(--highlight-color);
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.skills-block .skills-list li:hover {
    background-color: var(--highlight-color);
    color: var(--background-color);
    cursor: pointer;
}

/* Project Section */
#projects{
    width: 100%;
    height: 100%;
    padding: 4rem 2rem;
}
.section {
    padding: 3rem 1rem;
    margin: 60px auto;
    background-color: #f3f2f6;
}

.section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-container .card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(215,211,211,1) 84%);
    border: 1px solid var(--border-color);
    padding: 20px;
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 500px;
}

.project-container .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(231, 39, 141, 0.4);
}

.project-container .card img {
    width: 100%;
    height: 290px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255);
}

.project-container .card-body {
    padding: 1.5rem;
}

.project-container .card-title {
    font-family: 'Righteous', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color:#000;
}



/* Project details*/

.project_details_container{
    padding-top: 5%;
    align-items: center;
}

.project-image {
    max-width: 100%;
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255);
}

.description_wrap{
    margin: 0 10%;
    display: block;
 
}

.project-description{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.3rem;
    font-weight: 700;
}

.project_details_container .btn-primary{
    max-width: 15%;
}

/* Certification Section */

#certifications
{
    padding: 4rem 2rem;
}
.certification-card {
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.certification-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 255, 0, 0.4);
}

.cert-image-container {
    flex: 0 0 35%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.cert-image {
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.card-body {
    flex: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cert-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.cert-organization,
.cert-date,
.cert-description {
    margin: 0.5rem 0;
    color: var(--muted-text-color);
}


/* Blog Section */
.blog-block {
    padding: 4rem 2rem;
    background-color: var(--background-color);
    text-align: center;
}

.blog-block .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog-block .blog-post {
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 2rem;
    margin-bottom: 2rem;
    max-width: 360px;
    width: 100%;
    text-align: left;
    overflow: hidden;
    flex-direction: column;
    height: 100%;
}

.blog-block .blog-post:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 255, 0, 0.4);
}

.blog-block .post-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.blog-block .post-excerpt {
    font-size: 1.15rem;
    color: var(--muted-text-color);
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.blog-block .read-more {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: var(--background-color);
    background-color: var(--primary-color);
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
    text-align: center;
}

.blog-block .read-more:hover {
    background-color: var(--highlight-color);
    color: var(--background-color);
}

/* Post detail*/

.post_detail_container {
    padding-top: 5%;
    align-items: center;
    margin: auto;
}
.text-cente > img{
    height: 40%;
    width: 40%;
}
.description_wrap{
    display: block;
    font-size: 1.3rem;
}
.conatent{
    margin: 5%;
    max-width: 100%;
}


/* Contact Section */
.contact-content {
    margin: 0;
    color: var(--text-color);
    padding: 8%;
    background: var(--background-color);
}

.form-contact {
    max-width: 600px;
    margin: 0 auto;
}

.contact-background{
    background-color: var(--card-background-color);
    border: 1px solid var(--highlight-color);
    max-width: 75%;
    margin: 0 auto;
    border-radius: 2%;

}

.contact-form .form-control {
    margin-bottom: 1rem;
    padding: 0.75rem;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.contact-form .form-control:focus {
    border-color: var(--highlight-color);
    box-shadow: 0 0 5px var(--highlight-color);
}

.contact-form .btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: var(--background-color);
    border: solid 1px var(--highlight-color);
    color: var(--highlight-color);
    transition: background-color 0.3s;
    margin: 0 auto;
    width: 25%;
}

.contact-form .btn-primary:hover {
    background-color: var(--highlight-color);
    color: var(--background-color);
}

.contact-info {
    text-align: center;
    color: var(--label-color);
}
.messages{
    text-align: center;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}
/* Footer */
.footer {
    background-color: var(--card-background-color);
    color: var(--highlight-color);
    text-align: center;

}

.footer span {
    font-size: 0.9rem;
}

/* Labels */
.label {
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: var(--label-color);
    text-shadow: 0px 10px 20px rgba(247, 52, 94, 0.15);
    margin-bottom: 2rem;
    line-height: 1em;
    text-transform: capitalize;
}

.label-color {
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: var(--label-color);
    text-shadow: 0px 10px 20px rgba(247, 52, 94, 0.15);
    margin-bottom: 2rem;
    line-height: 1em;
    text-transform: capitalize;
}

/* Cards */
.card {
    background-color: var(--card-background-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 10px;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 255, 0, 0.4);
}

.card-body {
    padding: 1.5rem;
    
}

.card > img {
    width: 100%;
    height: 350px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.card-text {
    margin: 0.75rem 0;
    color: var(--muted-text-color);
}

/* Buttons */
.btn-primary {
    background-color: var(--background-color);
    border: solid 1px;
    border-color: var(--highlight-color);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: "JetBrains Mono", serif;
    color: var(--highlight-color);
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color:var(--highlight-color);
    color: var(--background-color);
    transform: scale(1.05);
}

.btn-secondary {
    background-color: var(--highlight-color);
    border: solid 1px;
    border-color: var(--background-color);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: "JetBrains Mono", serif;
    color: var(--background-color);
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-secondary:hover {
    background-color:var(--background-color);
    color: var(--highlight-color);
    transform: scale(1.05);
    border: 1px solid var(--highlight-color);
}



@media (max-width: 768px) {
    /*About block */
    .about-block .label,
    .label,
    .label-color {
        font-size: 2.3rem;
    }

    .about-block .main-text
    {
        font-size: 1.8rem;
    }
    .about-block .description-text {
        font-size: 1.1rem;
    }

    .about-block {
       padding-top: 30%;
    }

    .buttons{
        display: block;
        visibility: hidden;
    }
    /* Skills block */

    .skills-block {
        padding-top: 1rem;
    }
    /* Certifications block */
    .certification-card {
        margin: 1rem 0;
        height: auto;
    }

    .cert-image-container {
        padding: 10px;
    }

    .cert-image {
        width: 100%;
    }

    .card-body {
        padding: 1rem;
    }
    /* Projects block */
    .project-image {
        width: 80%;
        height: 80%;
    }
    .project-description{
        margin: 0 40px;
    }
    .project_details_container{
        padding-top: 25%;
    }

    .project_details_container .btn-primary{
        max-width: 50%;
    }

    .post-image {
        width: 80%;
        height: auto;
        border-radius: 12px;
        border: 1px solid rgba(255,255,255, 0.255);
    }

    .projects-block{
        padding: 0;
        margin: 0;
    }

    .certifications-block{
        padding: 0;
        margin: 0;
    }
    #certifications{
        padding: 0;
    }
    #projects{
        padding: 0;
    }
    
    .blog-block{
        padding: 0;
    }
    

    
    .label {
        font-family: "JetBrains Mono", serif;
        font-size: 2.5rem;
        color: var(--label-color);
        margin-bottom: 20px;
    }
    
    .content {
        text-align: left;
        margin-bottom: 20px;
    }
    .post_detail_container{
        padding-top: 25%;
    }
    .btn {
        border: none;
        padding: 12px 24px;
        border-radius: 1px;
        font-size: 0.9rem;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 10px;
        transition: transform 0.2s, box-shadow 0.2s;
    }
    
    .btn-primary {
        background-color: var(--background-color);
        border: none;
        color: var(--highlight-color);
        border: 1px solid var(--highlight-color);
    }
    
    .btn-info {
        background-color: var(--secondary-color);
        border: none;
        color: #fff;
    }
    
    .btn-primary:hover, .btn-info:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }
    .description_wrap{
        margin: 2%;
    }

    .contact-content{
        padding: 30px 0px;

    }
    .contact-background{
        max-width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    .contact-background .container{
        width: 95%;
        margin: 0;
    }
    .form-contact{
        width: 100%;
    }
    #contact{
        width: 100%;

    }
}
