{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sviatoslav Popina Portfolio</title>

    <link rel="stylesheet" type="text/css" href=" {% static '/css/style.css' %} ">
</head>
<body>

<div class="content">
    {% include 'base/navbar.html' %}
    {% include 'base/about.html' %}
    {% include 'base/skills.html' %}
    {% include 'base/projects.html' %}
    {% include 'base/contact.html' %}
    {% include 'base/footer.html' %}
</div>


<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    var typed = new Typed(".auto-type", {
        strings: ["Front-End developer.", "Back-End developer.", "Full-Stack developer."],
        typeSpeed:150,
        backSpeed:150,
        loop: true


    })
</script>


</body>
</html>