<nav class="nav">
    <li class="logo-li"><a class="logo" href="/">Sviatoslav Popina</a></li>
    <li class="logo-li-small"><a class="logo" href="/">SP</a></li>


    <ul class="items">
        <li><a class="item" href="#about">About</a></li>
        <li><a class="item" href="#skills">Skills</a></li>
        <li><a class="item" href="#projects">Projects</a></li>
        <li><a class="item" href="#contact">Contact</a></li>
    </ul>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>

