{% load static %}
<!-- Projects Section -->
<section id="projects" class="projects-block text-center">
    <div class="container">
        <h2 class="label-color">Projects</h2>
        <div class="row justify-content-center">
            {% for project in projects %}
            <div class="col-md-4 mb-4">
                <div class="card project-card">
                    {% if project.image %}
                    <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">More Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
