{% load static %}
<!-- Skills Section -->
<section id="skills" class="skills-block">
    <div class="container">
        <h2 class="label-color">Technical Skills</h2>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="about-text">
                    <ul class="skills-list">
                        {% for skill in skills %}
                            <li>{{ skill.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>